
$frame-bkgd:#579c87;
$frame-txt:#fdcb46;

$menua-bkgd:#fcdfdb;
$menua-txt:black;
$menua-dgd1:#f04a5e;
$menua-dgd2:#f78f6a;

$menub-bkgd:#fff5fe;
$menub-txt:#d8852e;
$menub-dgd1:#d8852e;
$menub-dgd2:#a56799;
$menub-dgd3:#905bfd ;

$menuc-bkgd:#edefef;
$menuc-txt:#0887fb;
$menuc-dgd1:#0431df;
$menuc-dgd2:#108cff;

$menud-bkgd:#fdfffd;
$menud-txt:#42973c;
$menud-dgd1:#42973c;
$menud-dgd2:#bfff7e;
