#body
  {
    
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 75px;
  }

  #blockpage
    {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
