#body
  {
    min-width: 1200px;
    background-color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 65px;
  }

  #blocpage
    {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
