
        

        @font-face 
        {
          font-family: 'croissant_oneregular';
          src: url('fonts/croissantone-regular/croissantone-regular-webfont.woff2') format('woff2'),
               url('fonts/croissantone-regular/croissantone-regular-webfont.woff') format('woff');
          font-weight: normal;
          font-style: normal;
        }

        @font-face 
        {
          font-family: 'dancing_script_otregular';
          src: url('fonts/dancingscript/dancingscript-regular-webfont.woff2') format('woff2'),
               url('fonts/dancingscript/dancingscript-regular-webfont.woff') format('woff');
          font-weight: normal;
          font-style: normal;      
        }

        @font-face 
        {
          font-family: 'kaushan_scriptregular';
          src: url('fonts/kaushanscript-regular/kaushanscript-regular-webfont.woff2') format('woff2'),
               url('fonts/kaushanscript-regular/kaushanscript-regular-webfont.woff') format('woff');
          font-weight: normal;
          font-style: normal;
        }

        @font-face {
          font-family: 'linguistics_probold';
          src: url('fonts/linguisticspro-bold/linguisticspro-bold-webfont.woff2') format('woff2'),
               url('fonts/linguisticspro-bold/linguisticspro-bold-webfont.woff') format('woff');
          font-weight: normal;
          font-style: normal;
      
      }

      @font-face 
      {
        font-family: 'devonshireregular';
        src: url('fonts/devonshire/devonshire-regular-webfont.woff2') format('woff2'),
             url('fonts/devonshire/devonshire-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      }
      @font-face 
      {
        font-family: '003_engineers_handregular';
        src: url('fonts/engineer/003_engineer_s_hand-webfont.woff2') format('woff2'),
             url('fonts/engineer/003_engineer_s_hand-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      }
      
      @font-face 
      {
        font-family: 'paulmaulbold';
        src: url('fonts/!PaulMaul/paulmaul-b.woff2') format('woff2'),
        url('fonts/!PaulMaul/paulmaul-b.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      }
    

      @font-face 
      {
        font-family: 'typo_comics_demoregular';
        src: url('fonts/typo_comics_demo-webfont.woff2') format('woff2'),
        url('fonts/typo_comics_demo-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      }
      
    @font-face 
      {
        font-family: 'typo_comics_bold_demoregular';
        src: url('fonts/typo_comics_bold_demo-webfont.woff2') format('woff2'),
        url('fonts/typo_comics_bold_demo-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      }

