.header
{   
    width: 100%;
    margin-top: 0%;
    display: flex;
    justify-content: center;
    height: 16%;
    background-color: $frame-bkgd; 
    color:$frame-txt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 3em;       
}

a
    {
        color:$frame-txt;
    }