@media screen and (max-width: 1000px)
{
    img
    {
        display: none;
    }
    
    h3
    {
        display: flex;
        justify-content: center;
    }

    .menu2
    {
        width: 95%;
    }

    #footer
    {
        font-size: 1em;
    }
   }

    @media screen and (max-width: 300px)
{
    h1
    {
        font-size: 2em;
    }
}